/* div,img,p,section,h1,h2,h3,a,i,ul,li{
    border: 1px solid red;
} */

body{
    width: 100%;
    background-color: rgb(225, 225, 247);
    color: grey;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 1.5;
}
.mainArticle{
    display: grid;
    grid-template-rows: 420px 200px 720px;
    grid-template-columns: 1fr 45% 1fr;
    gap: 30px;
    margin-top: 30px;
}
.mainArticle > section{
    background-color: white;
    border-radius: 5px;
}
.articleTitle{
    color: red;
    font-weight: 800;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 10px;
}
.subTitleSection{

    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    margin: 3px;
}
.inventor{
    grid-row: 1;
    grid-column: 2;
}
.inventor > p{
    padding: 0px 20px;
    line-height: 1.5em;
    margin-bottom: 0px;
    text-align: justify;
}
.socialNetwork{
    grid-row: 2;
    grid-column: 2;
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 0px 100px;
}
.socialNetwork > ul{
    width: 100%;
    padding: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.socialNetwork > ul > li{
    display: flex;
    flex-direction: column;
    grid-template-rows: 1.5fr 0.5fr;
    width: 75px;
    text-align: center;
}
.monI{
    text-align: center;
    line-height: 2em;
    font-size: 1.5em;
    color: rgb(185, 170, 170);
}
.socialNetwork > ul > li > a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    justify-items: center;
    color: rgb(185, 170, 170);
}
.favoriteMovies{
    grid-row: 3;
    grid-column: 2;
    padding-top: 40px;
    display: grid;
    grid-template-rows: 50px 1fr 1fr 1fr;
    align-items: center;
    align-content: center;
}
.spanHis{
    background-color: rgb(226, 198, 198);
    margin-bottom: 0px;
}
.Amovie{
    display: flex;
    flex-direction: row;
}
.movieImage{
    display: block;
    padding-left: 30px;
    width: 120px;
    height: 150px;
    flex: 1;
    margin-top: auto;
    margin-bottom: auto;
}
.movieDescription{
    margin: 0px 20px;
    padding: 10px;
    width: 100%;
    flex: 4;
    line-height: 1.7em;
    text-align: justify;
}
.movieTitle{
    display: inline-block;
    width: 100%;
    text-align: center;
    line-height: 3em;
    font-weight: bold;
}
.circle{
    width: 100px;
    height: 100px;
    border: 3px solid rgb(204, 185, 185);
    border-radius: 50px;
    overflow: hidden;
    margin: 25px auto;
}
.bold{
    font-weight: 700;
}
.imgEntete{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.seeYourself{
    text-decoration: none;
    padding: 5px;
    line-height: 2em;
    color: white;
    background-color: red;
    border-radius: 5px;
    font-weight: bold;
    display: block;
    width: 150px;
    margin: 10px auto;
    text-align: center;
}